@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500;700&display=swap');

body {
  font-family: 'Inter';
}

main {
  padding-inline: clamp(0.7em, 3vw, 4em);
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat';
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: hsl(210, 90%, 35%) transparent hsl(210, 90%, 35%) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
